<div class="row">
    <div class="col-md-6 offset-md-3" style="text-align: center; padding: 10px;">
        <div class="name bold big-text">Dashboard</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="text-align: center; padding: 10px;">
        <div class="name bold big-text">Total posted jobs: {{jobList.length}} </div>
        <nb-card>
            <nb-card-header>
                Active jobs
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="!activeJobs.length">
                    You don't have any active jobs.
                </div>
                <ul *ngIf="activeJobs.length">
                    <li *ngFor="let activeJob of activeJobs">
                        <h2>
                            <a href="#">{{activeJob.Title}}</a>
                        </h2>
                    </li>
                </ul>
            </nb-card-body>
            <nb-card-footer>
            </nb-card-footer>
        </nb-card>
        <nb-card>
            <nb-card-header>
                Past jobs
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="!pastJobs.length">
                    You don't have any past jobs.
                </div>
                <ul *ngIf="pastJobs.length">
                    <li *ngFor="let pastJob of pastJobs">
                        <h2>
                            <a href="#">{{pastJob.Title}}</a>
                        </h2>
                    </li>
                </ul>
            </nb-card-body>
            <nb-card-footer>
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-6" style="text-align: center; padding: 10px;">
        <div class="name bold big-text">Total Applyments: {{applymentsList.length}}</div>
        <nb-card>
            <nb-card-header>
                Active applyments
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="!activeApplyments.length">
                    You don't have any active applyments.
                </div>
                <ul *ngIf="activeApplyments.length">
                    <li *ngFor="let activeApplyment of activeApplyments">
                        <h2>
                            <a href="#">{{activeApplyment.Proposal}}</a>
                        </h2>
                    </li>
                </ul>
            </nb-card-body>
            <nb-card-footer>
            </nb-card-footer>
        </nb-card>
        <nb-card>
            <nb-card-header>
                Past applyments
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="!activeJobs.length">
                    You don't have any Past applyments.
                </div>
                <ul *ngIf="pastApplyments.length">
                    <li *ngFor="let pastApplyment of pastApplyments">
                        <h2>
                            <a href="#">{{pastApplyment.Proposal}}</a>
                        </h2>
                    </li>
                </ul>
            </nb-card-body>
            <nb-card-footer>
            </nb-card-footer>
        </nb-card>
    </div>
</div>