<nb-card>
    <nb-card-header style="font-size: 30px; text-align: center">
        Dashboard
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Active jobs">
                <div>
                    <div *ngIf="!activeJobs.length">
                        You don't have any active jobs.
                    </div>
                    <ul *ngIf="activeJobs.length">
                        <li *ngFor="let activeJob of activeJobs" style="padding-bottom:2rem; padding-top: 2rem">
                            <a style="padding-right:1rem" href="#/jobDetail/{{activeJob.Id}}">{{activeJob.Title}}</a>
                            <button style="float: right; padding-top:8px" class="btn btn-danger" (click)="removeJob(activeJob.Id)">Delete job</button>
                        </li>
                    </ul>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Past jobs">
                <div>
                    <div *ngIf="!pastJobs.length">
                        You don't have any past jobs.
                    </div>
                    <ul *ngIf="pastJobs.length">
                        <li *ngFor="let pastJob of pastJobs" style="padding-top: 2rem">
                            <a href="#/jobDetail/{{pastJob.Id}}">{{pastJob.Title}}</a>
                        </li>
                    </ul>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Active applyments">
                <div>
                    <div *ngIf="!activeApplymentsJobs.length">
                        You don't have any active applyments.
                    </div>
                    <ul *ngIf="activeApplymentsJobs.length">
                        <li *ngFor="let activeApplyment of activeApplymentsJobs" style="padding-bottom:2rem; padding-top: 2rem">
                            <a href="#/jobDetail/{{activeApplyment.Id}}">{{getJobTitle(activeApplyment.Id)}}</a>
                            <button style="float: right; padding-top:8px" class="btn btn-danger" (click)="removeApplyment(activeApplyment.Id)">Detele Applyment</button>
                        </li>
                    </ul>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Past applyments">
                <div>
                    <div *ngIf="!pastApplymentsJobs.length">
                        You don't have any past applyments.
                    </div>
                    <ul *ngIf="pastApplymentsJobs.length">
                        <li *ngFor="let pastApplyment of pastApplymentsJobs" style="padding-top: 2rem">
                            <a href="#/jobDetail/{{pastApplyment.Id}}">{{getJobTitle(pastApplyment.Id) }}</a>
                        </li>
                    </ul>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Accepted applyments">
                <div>
                    <div *ngIf="!acceptedAppymentsJob.length">
                        You don't have any accepted applyments.
                    </div>
                    <ul *ngIf="acceptedAppymentsJob.length">
                        <li *ngFor="let acceptedApplyment of acceptedAppymentsJob" style="padding-top: 2rem">
                            <a href="#/jobDetail/{{acceptedApplyment.Id}}">{{getJobTitle(acceptedApplyment.Id) }}</a>
                        </li>
                    </ul>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>

</nb-card>