<div class="row">
    <div class="col-md-6 offset-md-3" style="text-align: center; padding: 10px; color: white;">
                <div class="header">
                    <div class="name bold big-text">Find the best people to work with</div>
                </div>
                <div class="font-row font-secondary">
                    <div class="header">
                        <div class="name bold" style="font-size: 80px">City Surfing</div>
                    </div>
                    <br>
                    <br>
                    <p class="big-text">
                       Profile
                    </p>
                    </div>
    </div>
</div>