<div style="text-align: center">
    <h1 class="title">Job detail</h1>
    <br>
    <br>
    <br>
    <br>
      <div>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">Job title: </label>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">{{job.Title}}</label>
      </div>
      <br>
      <br>
      <div>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">Job Description: </label>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">{{job.Description}}</label>
      </div>
      <br>
      <br>
      <div>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">Job price: </label>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">{{job.Price}}</label>
      </div>
      <br>
      <br>
      <div>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">Location: </label>
        <label style="font-size: 30px; color: rgb(48, 238, 41)">{{job.Location}}</label>
      </div>
  
  </div>