<div class="row">
    <div class="col-md-6 offset-md-3" style="text-align: center; padding: 10px; color: white;">
                <div class="header">
                    <div class="name bold big-text">Find the best people to work with</div>
                </div>
                <div class="font-row font-secondary">
                    <div class="header">
                        <div class="name bold" style="font-size: 80px">City Surfing</div>
                    </div>
                    <br>
                    <br>
                    <p class="big-text">
                        CitySurfing is a platform where people gather to work together towards a common goal. It offers the posibility of hiring and working
                        with the best people for you. Our platform makes sure that you will be happy with the results.
                    </p>
                </div>
                <br><br>
                <button type="button" class="btn btn-info btn-xlarge">
                    Offer
                </button>
                <a href="#/index/listing"><button type="button" class="btn btn-info btn-xlarge">
                    Apply
                </button>
                 </a>
    </div>
</div>