<div class="row">
    <div class="col-md-6 offset-md-3" style="text-align: center">


    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3" style="text-align: center">
        <nb-card size="large">
            <nb-card-header>
                <div class="header">
                    <div class="name bold">Find the best people to work with</div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="font-row font-secondary">
                    <div class="header">
                        <div class="name bold">City Surfing</div>
                    </div>
                    <br>
                    <br>
                    <p>
                        CitySurfing is a platform where people gather to work together towards a common goal. It offers the posibility of hiring and working
                        with the best people for you. Our platform makes sure that you will be happy with the results.
                    </p>
                </div>
                <br><br>
                <button type="button" class="btn btn-info btn-large">
                    Apply
                </button>
                <a href="#/index/listing"><button type="button" class="btn btn-info btn-large">
                    Search
                </button>
                 </a>
            </nb-card-body>
        </nb-card>
    </div>
</div>