<div class="header-container inverse">
  <div style="cursor: pointer" class="logo-containter">
    <div class="logo" (click)="goToHome()">City<span>Surfing</span></div>
  </div>
</div>

<nb-actions
  size="medium"
  class="header-container inverse"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">

  <nb-action *ngIf="getAutentificat()" class="links" (click)="logOutUser()">
    <a style="cursor: pointer;">Log Out</a>
  </nb-action>
  <nb-action *ngIf="getAutentificat()" class="links" (click)="goToDashboard()">
      <a style="cursor: pointer;">Dashboard</a>
  </nb-action>
  <nb-action *ngIf="getAutentificat()">
    <nb-user [menu]="userMenu" [name]="getUserEmail()" [picture]="user?.picture" (click)="getUserProfile()" style="cursor: pointer"></nb-user>
  </nb-action>
  <nb-action class="links" *ngIf="!getAutentificat()"> 
    <a href="../#/index/login">Sign In</a>
  </nb-action>
  
</nb-actions>